[submodule "IntrOS/interface"]
	path = IntrOS/interface
	url = https://github.com/rajszym/IntrOS-interface
[submodule "IntrOS/kernel"]
	path = IntrOS/kernel
	url = https://github.com/rajszym/IntrOS-kernel
[submodule "IntrOS/port/CORTEXM"]
	path = IntrOS/port/CORTEXM
	url = https://github.com/rajszym/IntrOS-port-CORTEXM
[submodule "IntrOS/port/STM32F4"]
	path = IntrOS/port/STM32F4
	url = https://github.com/rajszym/IntrOS-port-STM32F4
